html, body {
  margin: 0;
  padding: 0;
  background: #363F45;
  height: 120%;
}
.container {
  display: flex;
  flex-direction: row;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 3px;

  line-height: 200px;
  font-size: 20px;
  font-weight: 300px;
  color: #FFFFFF;
  text-align: center;

  margin: 5px;
  background: #FFFFFF;
}

.card1 {
  background: red;
  width: 100px;
  height: 100px;
}

.card2 {
  background: green;
  width: 150px;
  height: 150px;
}

.card3 {
  background: blue;
}

.card4 {
  background: yellow;
  width: 250px;
  height: 250px;
}

.static {
  background: #F44336;
  position: static;
  margin: 10px;
  z-index: 1;
}

.absolute {
  background: #E91E63;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 30%;
  left: 30%;
  z-index: 2;
}

.relative {
  background: #FFFFFF;
  position: relative;
  top: 100px;
  left: 100px;

  color: #727272;
  z-index: 3;
}

.fixed {
  background: #673AB7;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}
